<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/globals.css" />
    <link rel="stylesheet" href="static/style1.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StageConnect</title>
  </head>

  <body>
    <div class="desktop">

      <div class="siteweb">

      {% include 'navbar.html.twig' %}
      {% include 'header.html.twig' %}

                <main class="offres">
                    <p class="text6"><strong>Postes à pouvoir actuellement <span class="special-mot">Trier</span></strong></p>
                    <img class="traits" src="static/assets/Trois traits.jpg">
                    <div class="offres-stage1">
                        <img class="Bouygues-Télécom" src="static/assets/logo-bouygues-telecom.gif">
                        <a href="bouygues-Télécom.html"><h3 class="text7">Bouygues-Télécom</h3></a>
                        <h4 class="text8">Administrateur réseau (F/H)</h4>
                        <div class="rectangle3">
                            <img  class="localisation1" src="static/assets/logo-localisation.jpg">
                            <div class="text9">Niort, Charente-Maritime (17)</div>
                        </div>
                        <div class="rectangle4">
                            <img class="niveau1" src="static/assets/Niveau.png">
                            <div class="text10">Niveau 2( BTS, Cycle Préparatoire)</div>
                        </div>
                        <div class="rectangle5">
                            <div class="tag1">Stage</div>
                        </div>
                        <div class="rectangle6">
                            <div class="duration1">3 - 4 mois</div>
                        </div>
                        <a href="index.php?page=voiroffre1"><button class="btn-offer">Voir l'offre</button></a>
                    </div>
                    <div class="offres-stage2">
                        <img class="edf" src="static/assets/logo-edf.jpeg" alt="EDF">
                        <a href="edf.html"><h3 class="text11">EDF</h3></a>
                        <h4 class="text12">Développement Full-Stack F/H</h4>
                        <div class="rectangle7">
                            <img class="localisation2" src="static/assets/logo-localisation.jpg">
                            <div class="text13"> La Rochelle, Charente-Maritime (17)</div>
                        </div>
                        <div class="rectangle8">
                            <img class="niveau2" src="static/assets/Niveau.png">
                            <div class="text14">Niveau 2( BTS, Cycle Préparatoire)</div>
                        </div>
                        <div class="rectangle9">
                            <div class="tag2">Stage</div>
                        </div>
                        <div class="rectangle10">
                            <div class="duration2">3 - 4 mois</div>
                        </div>
                        <a href="index.php?page=voiroffre2"><button class="btn-offer">Voir l'offre</button></a>
                    </div>
                </main>


      {% include 'footer.html.twig' %}

      </div>

    </div>
</body>
</html>